{var $status = $_form['StatusContainer']['status']}
<div class="form-group">
    <p>{$status->caption}</p>
    {foreach $status->items as $key => $label}
        <div class="checkbox">
            <label n:name="$status:$key"><input n:name="$status:$key"> {$label}</label>
        </div>
    {/foreach}
</div>