{var $status = $_form['StatusContainer']['status']}

<div class="form-group">
    <span>{$status->caption}</span>
    
    {foreach $status->items as $key => $label}
        <div>
            <input class="with-gap" n:name="$status:$key">
            <label n:name="$status:$key">{$label}</label>
        </div>
    {/foreach}
</div>