{var $description = $_form['DescriptionEditorContainer']['description']}
<div class="form-group">
    {label $description/}
	<textarea class="form-control editor" n:name="$description"></textarea>
</div>