{var $startTime = $container['startTime']}
{var $endTime = $container['endTime']}

<div class="form-group">
    <input class="form-control date-time-picker" n:name="$startTime">
    {label $startTime/}
</div>

<div class="form-group">
    <input class="form-control date-time-picker" n:name="$endTime">
    {label $endTime/}
</div>