{var $showDescription = $_form['ShowDescriptionContainer']['showDescription']}
<div class="form-group">
    <input class="filled-in" n:name="$showDescription">
    <label n:name="$showDescription">{_'Show description'}</label>
</div>