decorator:
    BaseFormContainer:
        inject: yes

#    BaseContainer:
#        inject: yes


services:
    - Wame\DynamicObject\Components\IFormControlFactory

    # Form containers
#    - Wame\DynamicObject\Forms\Containers\BaseContainer
    - Wame\DynamicObject\Forms\Containers\IIconContainerFactory
    - Wame\DynamicObject\Forms\Containers\ITitleContainerFactory
    - Wame\DynamicObject\Forms\Containers\IShowTitleContainerFactory
    - Wame\DynamicObject\Forms\Containers\INameContainerFactory
    - Wame\DynamicObject\Forms\Containers\IDescriptionContainerFactory
    - Wame\DynamicObject\Forms\Containers\IDescriptionEditorContainerFactory
    - Wame\DynamicObject\Forms\Containers\IShowDescriptionContainerFactory
    - Wame\DynamicObject\Forms\Containers\ITextContainerFactory
    - Wame\DynamicObject\Forms\Containers\IMainContainerFactory
    - Wame\DynamicObject\Forms\Containers\ISlugContainerFactory
    - Wame\DynamicObject\Forms\Containers\IPublishDateContainerFactory
    - Wame\DynamicObject\Forms\Containers\ITimeContainerFactory
    - Wame\DynamicObject\Forms\Containers\IStatusContainerFactory
    - Wame\DynamicObject\Forms\Containers\IUrlContainerFactory
    - Wame\DynamicObject\Forms\Containers\ISubmitContainerFactory
    - Wame\DynamicObject\Forms\Containers\ISaveContainerFactory
    - Wame\DynamicObject\Forms\Containers\IPublishContainerFactory


    # Form groups
    - Wame\DynamicObject\Forms\Groups\IEmptyGroupFactory
    - Wame\DynamicObject\Forms\Groups\IBasicGroupFactory
    - Wame\DynamicObject\Forms\Groups\IAdvancedGroupFactory
    - Wame\DynamicObject\Forms\Groups\ITransparentGroupFactory
    - Wame\DynamicObject\Forms\Groups\IPublishGroupFactory
    - Wame\DynamicObject\Forms\Groups\ITextGroupFactory
    - Wame\DynamicObject\Forms\Groups\IDescriptionGroupFactory


    # Form tabs
    - Wame\DynamicObject\Forms\Tabs\IGeneralTabFactory
    - Wame\DynamicObject\Forms\Tabs\IAdvancedTabFactory
    - Wame\DynamicObject\Forms\Tabs\INoTabFactory


webloader:
    js:
        default:
            files:
#                - %appDir%/../vendor/wame/DynamicObject/assets/groups.js
        admin:
            files:
                - %appDir%/../vendor/nextras/forms/js/nextras.netteForms.js
#                - %appDir%/../vendor/nextras/forms/js/nextras.typehead.init.js
                - %appDir%/../vendor/nextras/forms/js/nextras.datetimepicker.init.js
                - %appDir%/../vendor/wame/DynamicObject/assets/groups.js